<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="holny">

    <title th:inline="text">March Blog | [(${blog.blogTitle})]</title>
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <base th:href="${#request.getContextPath()}+'/'">

    <link rel="icon" th:href="@{res/img/favicons/favicon-96x96.png}" type="image/x-icon"/>
    <link rel="shortcut icon" th:href="@{res/img/favicons/favicon-96x96.png}" type="image/x-icon"/>
    <link rel="bookmark" th:href="@{res/img/favicons/favicon-96x96.png}" type="image/x-icon"/>

    <link rel="apple-touch-icon" sizes="57x57" th:href="@{res/img/favicons/apple-icon-57x57.png}">
    <link rel="apple-touch-icon" sizes="60x60" th:href="@{res/img/favicons/apple-icon-60x60.png}">
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{res/img/favicons/apple-icon-72x72.png}">
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{res/img/favicons/apple-icon-76x76.png}">
    <link rel="apple-touch-icon" sizes="114x114" th:href="@{res/img/favicons/apple-icon-114x114.png}">
    <link rel="apple-touch-icon" sizes="120x120" th:href="@{res/img/favicons/apple-icon-120x120.png}">
    <link rel="apple-touch-icon" sizes="144x144" th:href="@{res/img/favicons/apple-icon-144x144.png}">
    <link rel="apple-touch-icon" sizes="152x152" th:href="@{res/img/favicons/apple-icon-152x152.png}">
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{res/img/favicons/apple-icon-180x180.png}">
    <link rel="icon" type="image/png" sizes="192x192" th:href="@{res/img/favicons/android-icon-192x192.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{res/img/favicons/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="96x96" th:href="@{res/img/favicons/favicon-96x96.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{res/img/favicons/favicon-16x16.png}">
    <!-- CSS -->
    <link th:href="@{res/lib/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

    <link th:href="@{res/css/style.css}" rel="stylesheet">
    <link id="color-scheme" th:href="@{res/css/colors/default.css}" rel="stylesheet">
    <link th:href="@{res/lib/components-font-awesome/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{res/lib/fontawesome/css/all.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{res/lib/et-line-font/et-line-font.css}" rel="stylesheet">

    <link th:href="@{toastr/build/toastr.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{editormd/css/editormd.min.css}"/>
    <link th:href="@{res/css/my.css}" rel="stylesheet">

</head>
<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">

<main>
    <div class="page-loader">
        <div class="loader">Loading...</div>
    </div>
    <div th:replace="commons/bar::topbar"></div>

    <div class="main" style="height: 100%">
        <div class="hWhole_bg" style="background: url('res/img/bg/home-bg1.jpg') no-repeat fixed;">
            <div class="hOverlay"></div>
        </div>
        <section class="module-small">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 hWitheBg hWitheBg hShadowAndRound">
                        <div class="post">
                            <!-- Blog Title and Info Area -->
                            <div class="post-header font-alt text-center">
                                <h1 class="post-title" th:inline="text">[(${blog.blogTitle})]</h1>
                                <div class="post-meta"  th:inline="text">
                                    <a th:href="@{profile/{userId}(userId=${blog.user.userId})}" target="_blank" th:inline="text"><i class="fad fa-user-alt"></i>[(${blog.user.userName})]</a> | <i class="fad fa-calendar-alt"></i><p th:text="${blog} ? ${#dates.format(blog.blogUpdateTime, 'yyyy-MM-dd HH:mm')}" style="margin:0 0 0 2px"></p> | <a th:href="@{series/{seriesId}(seriesId=${blog?.blogSeriesEntity?.seriesId})}" target="_blank"
                                             th:inline="text"><i class="fab fa-slack-hash"></i>[(${blog?.blogSeriesEntity?.seriesName})]</a>
                                </div>
                                <div class="post-meta" th:inline="text">
                                    <i class="fal fa-eye"></i>[(${blog.blogViews})]
                                    | <i class="fal fa-comment-lines"></i>[(${blog.blogCommentCount})]
                                    | <a th:if="${session.like}?${#lists.contains(session.like,blog.blogId)}"
                                         th:inline="text"><i
                                        class="fas fa-thumbs-up"></i>[(${blog.blogLikeCount+1})]</a>
                                    <a th:unless="${session.like}?${#lists.contains(session.like,blog.blogId)}"
                                       th:onclick="'javascript:like_click('+${blog.blogId}+','+${blog.blogLikeCount}+')'"
                                       class="likeClickEvent" th:inline="text"><i class="far fa-thumbs-up"></i>[(${blog.blogLikeCount})]</a>
                                </div>
                            </div>
                            <div class="post-entry">
                                <!-- Blog Content Area -->
                                <div id="blogContent" style="padding:0 5% 5% 5%">
                                    <textarea id="mdContent" th:inline="text" style="display: none">[(${blog.blogContent})]
                                    </textarea>
                                </div>
                            </div>
                        </div>
                        <!-- Blog Comment Area -->
                        <!--                        <div class="comments">-->
                        <!--                            <h4 class="comment-title font-alt">There are 3 comments</h4>-->
                        <!--                            <div class="comment clearfix">-->
                        <!--                                <div class="comment-avatar"><img src="" alt="avatar"/></div>-->
                        <!--                                <div class="comment-content clearfix">-->
                        <!--                                    <div class="comment-author font-alt"><a href="#">John Doe</a></div>-->
                        <!--                                    <div class="comment-body">-->
                        <!--                                        <p>The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary. The European languages are members of the same family. Their separate existence is a myth.</p>-->
                        <!--                                    </div>-->
                        <!--                                    <div class="comment-meta font-alt">Today, 14:55 - <a href="#">Reply</a>-->
                        <!--                                    </div>-->
                        <!--                                </div>-->
                        <!--                                <div class="comment clearfix">-->
                        <!--                                    <div class="comment-avatar"><img src="" alt="avatar"/></div>-->
                        <!--                                    <div class="comment-content clearfix">-->
                        <!--                                        <div class="comment-author font-alt"><a href="#">Mark Stone</a></div>-->
                        <!--                                        <div class="comment-body">-->
                        <!--                                            <p>Europe uses the same vocabulary. The European languages are members of the same family. Their separate existence is a myth.</p>-->
                        <!--                                        </div>-->
                        <!--                                        <div class="comment-meta font-alt">Today, 15:34 - <a href="#">Reply</a>-->
                        <!--                                        </div>-->
                        <!--                                    </div>-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <!--                            <div class="comment clearfix">-->
                        <!--                                <div class="comment-avatar"><img src="" alt="avatar"/></div>-->
                        <!--                                <div class="comment-content clearfix">-->
                        <!--                                    <div class="comment-author font-alt"><a href="#">Andy</a></div>-->
                        <!--                                    <div class="comment-body">-->
                        <!--                                        <p>The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary. The European languages are members of the same family. Their separate existence is a myth.</p>-->
                        <!--                                    </div>-->
                        <!--                                    <div class="comment-meta font-alt">Today, 14:59 - <a href="#">Reply</a>-->
                        <!--                                    </div>-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <!--                        <div class="comment-form">-->
                        <!--                            <h4 class="comment-form-title font-alt">Add your comment</h4>-->
                        <!--                            <form method="post">-->
                        <!--                                <div class="form-group">-->
                        <!--                                    <label class="sr-only" for="name">Name</label>-->
                        <!--                                    <input class="form-control" id="name" type="text" name="name" placeholder="Name"/>-->
                        <!--                                </div>-->
                        <!--                                <div class="form-group">-->
                        <!--                                    <label class="sr-only" for="email">Name</label>-->
                        <!--                                    <input class="form-control" id="email" type="text" name="email" placeholder="E-mail"/>-->
                        <!--                                </div>-->
                        <!--                                <div class="form-group">-->
                        <!--                                    <textarea class="form-control" id="comment" name="comment" rows="4" placeholder="Comment"></textarea>-->
                        <!--                                </div>-->
                        <!--                                <button class="btn btn-round btn-d" type="submit">Post comment</button>-->
                        <!--                            </form>-->
                        <!--                        </div>-->
                    </div>
                    <div class="col-sm-4 col-md-3 col-md-offset-1 sidebar userInfoSidebarArea  hWitheBg hShadowAndRound">
                        <div class="widget" style="text-align: center">
                            <img th:src="@{res/img/default.jpeg}" alt="头像" class="img-circle userProfilePic hAvatar">
                            <h4 class="font-alt mb-0">XXX</h4>
                            <div class="row">
                                <div class="col-xs-4 col-sm-4">
                                    <h5 class="font-alt mb-0">原创:</h5>
                                    <p style="font-weight: 900">0</p>
                                </div>
                                <div class="col-xs-4 col-sm-4">
                                    <h5 class="font-alt mb-0">获赞:</h5>
                                    <p style="font-weight: 900">0</p>
                                </div>
<!--                                <div class="col-xs-3 col-sm-3">-->
<!--                                    <h5 class="font-alt mb-0">评论:</h5>-->
<!--                                    <p style="font-weight: 900">0</p>-->
<!--                                </div>-->
                                <div class="col-xs-4 col-sm-4">
                                    <h5 class="font-alt mb-0">访问:</h5>
                                    <p style="font-weight: 900">0</p>
                                </div>
                            </div>
                            <hr class="divider-w mb-10">
                            <div class="row" style="margin: 10px 0">
                                <div class="col-xs-3 col-sm-3">
                                    <a href="#" target="_blank"><i class="fab fa-github fa-2x"></i></a>
                                </div>
                                <div class="col-xs-3 col-sm-3">
                                    <a href="#" target="_blank"><i class="fab fa-weibo fa-2x"></i></a>
                                </div>
                                <div class="col-xs-3 col-sm-3">
                                    <a href="#" target="_blank"><i class="fab fa-weixin fa-2x"></i></a>
                                </div>
                                <div class="col-xs-3 col-sm-3">
                                    <a href="#" target="_blank"><i class="fas fa-envelope fa-2x"></i></a>
                                </div>
                            </div>
                            <hr class="divider-w mb-10">
                            <div class="post-quote">
                                <blockquote>
                                    <small class="hText-limit-line"></small>
                                </blockquote>
                            </div>
                        </div>

                        <div class="widget">
                            <h5 class="widget-title font-alt">博文:</h5>
                            <div role="tabpanel">
                                <ul class="nav nav-tabs font-alt" role="tablist">
                                    <li class="active"><a href="#support" name="newOrHotSidebarTab"
                                                          data-toggle="tab"><span
                                            class="icon-tools-2"></span>New</a></li>
                                    <li><a href="#sales" name="newOrHotSidebarTab" data-toggle="tab"><span
                                            class="icon-tools-2"></span>HOT</a>
                                    </li>
                                </ul>
                            </div>
                            <ul class="icon-list">
                                <li><a href="#" target="_blank" class="hText-limit-chars"></a></li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h5 class="widget-title font-alt">专题:</h5>
                            <ul class="icon-list">
                                <li><a href="#" target="_blank" class="hText-limit-chars"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <hr class="divider-d">
        <div th:replace="commons/bar::footerr"></div>
    </div>
    <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
</main>

<!-- Javascript -->
<script th:src="@{jquery/jquery.min.js}"></script>
<script th:src="@{res/lib/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{res/lib/wow/dist/wow.js}"></script>
<script th:src="@{res/datetimepicker/js/bootstrap-datetimepicker.js}"></script>
<script th:src="@{res/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js}"></script>

<script th:src="@{res/js/main.js}"></script>
<script th:src="@{toastr/build/toastr.min.js}"></script>
<script th:src="@{res/js/my.js}"></script>

<!--<script th:src="@{strapdown/v/0.1/strapdown.js}"></script>-->

<!-- Editor.md Js -->
<script th:src="@{editormd/lib/flowchart.min.js}"></script>
<script th:src="@{editormd/lib/jquery.flowchart.min.js}"></script>
<script th:src="@{editormd/lib/marked.min.js}"></script>
<script th:src="@{editormd/lib/prettify.min.js}"></script>
<script th:src="@{editormd/lib/raphael.min.js}"></script>

<!--<script th:src="@{editormd/lib/sequence-diagram.min.js}"></script>-->

<script th:src="@{editormd/lib/underscore.min.js}"></script>
<script th:src="@{editormd/editormd.min.js}"></script>


</body>
<script type="text/javascript" th:inline="javascript">
    $(function () {
        let testEditor;
        testEditor = editormd.markdownToHTML("blogContent", {//注意：这里是上面DIV的id
            // markdown : markdown ,
            htmlDecode: "style,script,iframe",
            toc: false,
            tocm: true,
            emoji: true,
            taskList: true,
            tex: false, // 默认不解析
            flowChart: true, // 默认不解析
            sequenceDiagram: false, // 默认不解析
            codeFold: true,
        });
        global_url_map.context_base = [[${#request.getContextPath()}]]+'/';

        global_server_running_time = [[${session.runningSec}]];
        runningTime(global_server_running_time, $("#showTime"));

        get_user_statics([[${blog.userId}]], $('.userInfoSidebarArea'));
    });
</script>
</html>